body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
  color: #a1a089;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #807357;
}

section {
  background: #fff;
  border: 1px solid #b9b9b0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 2px 4px rgba(31, 28, 28, 0.05);
}

h2 {
  margin-top: 0;
  color: #353012;
  border-bottom: 1px solid #55524b;
  padding-bottom: 10px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #c5c4bf;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #bfc47e;
  color: rgb(36, 31, 6);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #afcf8b;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

#bookingStatus {
  margin-top: 15px;
  font-weight: bold;
}